@font-face{
    font-family: ubuntu;
    src: url(../fonts/ubuntu.ttf);
}

html, body{
    font-family: ubuntu;
}

header.header{
    background-color: #009a3e;
    color: #ffffff;
}
.header .header-block-nav > ul > li > a{
    color: #ffffff;
}
.sidebar .sidebar-menu li a{
    color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li.active a{
    color: #009a3e;
}
.sidebar .sidebar-menu > li.active > a, .sidebar .sidebar-menu > li.active > a:hover{
    background-color: #009a3e !important;
}